<div class="col-xs-12 col-md-12" id="class-creation-page">
    <form method="POST" action="/class/create" class="col-xs-12 col-md-12 text-center class-form">
      <h4 class="row text-center">Create a Class</h4>
      <p class="row">All input fields must be unique</p>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <input type="text" placeholder="enter class name" name="class_name" class="form-control">
        </div>
      </div>
      <br>  
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <input type="text" placeholder="enter class number" name="class_number" class="form-control">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <input type="text" placeholder="enter class subject" name="class_subject" class="form-control">
        </div>
      </div>
      <br>
      <input type="submit" value="create class" class="btn btn-success btn-xs text-center">
      <a href="/class/all" class="btn btn-danger btn-xs">cancel</a>
    </form>
</div>