<div id="create-note-success">
  <div class="col-xs-12 text-center create-note-success">
    <h4>Successful created note for: <%- class_name %></h4>
    <p>Note title: <%- note_title %></p>
    <p class="success-note-description">Note description: <%- note_description %></p>
    <div>
      <a href="<%- currentClassUrl %>" class="btn btn-primary">list of notes</a>
    </div>
  </div>
</div>
