<div class="container text-center" id="class-creation-error">
  <div class="col-xs-12">
    <h4>Class was not created</h4>
    <p>Reason why class was not created:</p>
    <p>1. You have already created that class. Each class name must be unique.</p>
    <p>2. The database might be down.</p>
    <p>3. There might be an internal error: Please message shareshareteam@gmail.com </p>
    <button class="error-btn btn btn-danger btn-xs">Display Error</button>
    <p class="error-msg" style="display: none;"> <%- error %></p>
  </div>
</div>