<div class="container" id="create-class-success">
  <div class="col-xs-12 col-md-12 text-center create-class-success">
    <h4>Successfully created:<br><%- class_name %></h4>
    <p>Class Number: <%- class_number %></p>
    <p>Class Subject: <%- class_subject %></p>
    <a href="/class/all" class="btn btn-primary btn-xs">list of classes</a>
  </div>
</div>
