<%- include partials/header.ejs %>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
              <h3></h3>

              <img class="img-responsive landing-img" src="img/landing-notebook.png" alt="shareshare">
              <p class="landing-img-des">Optical Character Recognition for image to text transcription of student notes.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <img src="img/landing-chat.png" class="img-responsive landing-img-2">
              <p class="landing-img-des-2">Have a conversation about your notes with students from other Universities!</p>
            </div>
        </div>
    </div>
</div>
