<div class="container" id="login">
  <div class="row main auth-link">
    <div class="col-xs-12 col-md-8 col-lg-8 col-md-offset-2">
      <div class="panel-heading">
        <a class="btn btn-block btn-social btn-google text-center" href="/auth/google">
          <span class="fa fa-google"></span> Sign in<span class="hidden-xs"> with google</span>
        </a>
      </div>
    </div>
  </div>
</div>
